<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Assignment1PWithWix" Language="1033" Version="1.0.0.0" Manufacturer="Xuan Tuan Minh Nguyen" UpgradeCode="fcefbe75-55cc-468c-b8b4-363ab0330a36">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Assignment1PWithWix" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Assignment1PWithWix" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="Assignment1.exe" Guid="926E5CD6-639C-4BF6-BD56-64AFE5964D00">
				<File Id="Assignment1.exe" Name="Assignment1.exe" Source="$(var.Assignment1.TargetPath)"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
